__pycache__/
build/
*.egg-info/
*.so
*.mp4
*.wav

tmp*
trial*/

data
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
*.mp4
.DS_Store
workspace/log_ngp.txt
.idea
models/wav2lip.pth
*.log
dist

.env
env

.wav

.lock
uv.lock