__pycache__/
*.egg-info/
*.so
*.mp4
*.wav

tmp*
trial*/

data
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
*.mp4
.DS_Store
workspace/log_ngp.txt
.idea
models/wav2lip.pth
*.log
dist

.env
env

.wav

uv.lock

./ernerf/
test.py

checkpoints/
gfpgan/
sadtalker_data/
wav2lip_data/
voice_clone_data/
chromadb_data/

services/voice_clone/infra/xtts/models/
services/livetalking/src/livetalking/shared/models/wav2lip.pth
minio

mockdata
test_service.py

FS_LiveTalking.code-workspace

minio.zip
